.working__inner{
    width: 1135px;
    height: 300px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.532);
    border-radius: 8px;
    margin-top: 100px;
}
.working__img{
    margin-top: 10px;
    width: 500px;
    height: 300px;
    margin-right: 50px;
    object-fit: cover;
}
.working__title{
    font-style: normal;
    font-weight: 500;
    font-size: 20.5px;
    line-height: 26px;
    text-align: right;
    margin-top: 15px;
}
.working__insite{
    margin-top: 115px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.532);
    border-radius: 8px;
}
.working__tittle{
    width: 600px;
    height: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 20.5px;
    line-height: 25px;
    padding-left: 20px;
    padding-top: 7px;
}
.working__img2{
    width: 550px;
    height: 300px;
    padding-top: 20px;
    object-fit: cover;
}