.zadachi{
    
    background: linear-gradient(0deg, rgba(27, 8, 48, 0.25) 1%, #251244 53.96%);
    background-image: url(../../img/image\ 37.png);
    background-repeat: no-repeat;
}
.zadachi__list{
    display: flex;
    align-items: center;
}
.zadachi__list2{
    display: flex;
    align-items: center;
}
.zadachi__list3{
    display: flex;
    align-items: center;
}